body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('pexels-pixabay-259209.jpg');
    background-size: cover;
    background-color: #ffffff;
  }
  
  .container {
    width: 300px;
    color: #fff;
  }
  
  h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
  }
  
  form {
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #555;
    outline: none;
    transition: border-color 0.3s ease;
    background-color: #f1f1f1;
    color: #0c0c0c;
  }
  
  input[type="text"]:focus,
  input[type="number"]:focus {
    border-color: #4CAF50;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  h2 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 38px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    background-color: #666;
    padding: 10px;
    border-bottom: 1px solid #555;
  }
  


  #total-expense {
    font-weight: bold;
    color: #40c645;
    font-size: 24px;
  }